doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href="/stylesheets/timepicki.css")
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/principal.js")
    script(src="/javascripts/timepicki.js")
    script(type="text/javascript").
  body
    a.avatarNombre
    script(src="/javascripts/bootstrap.min.js")
    img.avatarLogo(src='../images/avatar.png')
    block content