extends layout2

block content
	.MenuArriba2
		nav
			ul
				li
					a(href='NuevoParteD') NUEVO PARTE DIARIO
				li
					a(href='#') RESIDENCIAS
				li
					a(href='#') INICIO
				li
					a(href='#') SALIR